body {
 background: rgba(17, 57, 97, 0.705);
 font: normal 15pt Arial;
}

header {
color: rgb(252, 247, 247);
text-align: center;  

}

section {
 background: rgba(223, 222, 219, 0.904);
 border-radius: 15px;
 padding: 15px;
 width: 500px;
 margin: auto;
 box-shadow: 5px 5px 423px rgba(12, 10, 10, 0.473);
 
}

footer {
color: white;
text-align: center;
font-style: italic;
}