body {
 background: rgb(135, 135, 247);
 font: normal 15pt Arial;

}

header {
color: white;
text-align: center;   
}

section {
 background: white;
 border-radius: 10px;
 padding: 15px;
 width: 500px;
 margin: auto;
 box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.938);
 
}

footer {
color: white;
text-align: center;
font-style: italic;
text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.966);
}
img {
    background: no-repeat center;
    background-size: cover; 
    display:inline-block;
    margin: 4px;  
    border-radius: 50%;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.562);
    margin-left: 90px;
    
}
div {
    text-align: justify;
    padding: 5px;
}
